
.img-gallery{
	width: 80%;
	margin: 1% auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 25px;
	position: relative;
	background-color:rgba(0, 0, 0, .7);
	border-radius: 20px;
	border-top: 2px solid rgba(241, 117, 0,.9);
	border-bottom:2px solid rgba(241, 117, 0,.9);
	border-left: 2px solid rgba(241, 117, 0,.9);
	border-right: 2px solid rgba(241, 117, 0,.9);
	/*border-left:7px solid rgb(247, 111, 0,.9);
	border-right:7px solid rgb(247, 111, 0,.9);
	border-top:3px solid rgb(247, 111, 0,.6);
	border-bottom:3px solid rgb(247, 111, 0,.6);*/
	 box-shadow: 20px 35px 40px 10px #000;
	 /*box-shadow: 0 -1px 30px #da800b;*/
	padding: 5%;
	transition: .3s ease;
}

.img-gallery:hover{
		 box-shadow: 0 -1px 30px #da800b;
		 background-color:rgba(0, 0, 0, .5);

}


.img-gallery img{

	width:100%;
	cursor:pointer;
		border-radius: 20px;
	/*box-shadow: 15px 20px 20px #000;*/
	border: 2px solid rgba(247, 111, 0,.9);
}

.img-gallery img:hover{
    transform: scale(.9);
    border-radius: 60px;	
	transition: 0.4s;

	/*box-shadow: 0 5px 45px #da800b;*/


}

.full-img{
	width: 100%;
	height:100vh; 
	background:rgba(0,0, 0, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 100;

}
.full-img img{
	width: 50%;
	max-width: 70%;

}

.full-img span{
	position: absolute;
	top: 5%;
	right: 4%;
	font-size: 40px;
	color: #ca7506;
	cursor: pointer;
}
.full-img span:hover{
	color:white;
}

